PROJECT_NAME=taxia-cimco-backend
FIREBASE_PROJECT_ID=pelagic-chalice-467818-e1
PROJECT_ID=pelagic-chalice-467818-e1
FUNCTIONS_REGION=us-central1
NODE_ENV=development
TIMEZONE=America/Bogota
DEFAULT_LANGUAGE=es
GOOGLE_APPLICATION_CREDENTIALS=./serviceAccount.json
INTERNAL_API_SECRET=taxia_cimco_secure_token_2025
JWT_SECRET=taxia_cimco_secure_token_2025
JWT_EXPIRES_IN=7d
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SUPPORT_EMAIL=soporte@taxiacimco.co
API_BASE_URL=https://www.google.com/search?q=https://65d4a55fc240.ngrok-free.app/pelagic-chalice-467818-e1/us-central1
FRONTEND_BASE_URL=http://localhost:3000
ALLOW_ORIGIN=*
PORT=5001
LOG_LEVEL=info
REQUEST_TIMEOUT=15000
MAX_UPLOAD_SIZE=10mb
GEMINI_API_KEY=AIzaSyDVvwzVEUKGCtcJOKgROKQqzaUGpvmo_aU
GOOGLE_MAPS_API_KEY=AIzaSyBZU4GwFiWtSV5tC8xtMkpdGgR2WWUl058
WHATSAPP_TOKEN=EAALDHhT6fwUBPQYMizZBMYD0coDR3bP7nzcI7wjolA2YH5G3zZCSFWTNmCZAOXyRSkBbIhuCgTJeZBdQOkslmHq7e82diD09Gm11ZB4bgAViXS5b95gqTGrH050Xcq5OTv8tLux81YAaJwNZBAoweCu3P0prPNo0E6x0xxcaLfSyR9hZC2k1Yx9wiAX805PBxqIjgZDZD
WHATSAPP_PHONE_ID=787349791127922
WHATSAPP_VERIFY_TOKEN=taxia_cimco_verify
WABA_ID=1158297576167491
WHATSAPP_PHONE_NUMBER=+573003503249
NGROK_URL=https://65d4a55fc240.ngrok-free.app
WEBHOOK_PATH=/pelagic-chalice-467818-e1/us-central1/whatsappWebhook
FIRESTORE_EMULATOR_HOST=127.0.0.1:8085
PUBSUB_EMULATOR_HOST=127.0.0.1:8086
FIREBASE_AUTH_EMULATOR_HOST=127.0.0.1:9100
FUNCTIONS_EMULATOR_HOST=127.0.0.1
FUNCTIONS_EMULATOR_PORT=5002
HOSTING_EMULATOR_HOST=127.0.0.1
HOSTING_EMULATOR_PORT=5003
FIREBASE_EMULATOR_HUB=127.0.0.1:4401