/* Versión Arquitectura: V1.1 - Reset para Mapas Leaflet y Layout Global */
:root {
  font-family: 'JetBrains Mono', 'Inter', monospace;
  line-height: 1.5;
  font-weight: 400;
  background-color: #000000; /* Fondo negro sólido para el look Ciber */
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-content: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

#root {
  width: 100%;
  height: 100vh;
}

/* 🛡️ FIX PARA LEAFLET EN ENTORNOS REACT */
.leaflet-container {
  width: 100%;
  height: 100%;
  background: #0a0a0a !important; /* Fondo oscuro mientras carga el tile */
}

/* Estilo Brutalista para controles de mapa */
.leaflet-control-zoom {
  border: 3px solid #000 !important;
  box-shadow: 4px 4px 0px 0px #facc15 !important;
}

.leaflet-bar a {
  background-color: #facc15 !important;
  color: black !important;
  font-weight: bold !important;
}