# 🌐 CONFIGURACIÓN TAXIA CIMCO PANEL
PORT=3000

# ⚙️ RUTA DE POWERSHELL 7
POWERSHELL_PATH="C:\\Program Files\\PowerShell\\7\\pwsh.exe"

# 📂 RUTA BASE DE LOS SCRIPTS
SCRIPTS_PATH="C:\\Users\\Carlos Fuentes\\ProyectosCIMCO\\scripts"

# 🔐 CLAVE DE ACCESO (reemplaza por tu real)
API_KEY=a1b0e9a692bd470d842cdb4d813be21e

# 📧 CONFIGURACIÓN DE CORREO SMTP (GMAIL)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=taxiacimco@gmail.com
MAIL_PASS=faburyyfrzrlzlvj
